{{ define "main" }}
<div class="flex flex-wrap bg-gray-100 border-t border-t-gray-200 py-8">
    <div class="flex flex-wrap w-full mx-auto lg:px-5">
        <div class="hidden lg:inline w-full lg:w-2/12">
            <div class="bg-white font-Robo py-2 px-0 border rounded-lg apps-menu">
                {{ $currentNode := . }}
                {{ range .Site.Menus.apps }}
                {{ if .HasChildren }}
                <div class="select-none py-2 border-b dropdown">
                    <a class="no-underline desktop-menu-item" data-toggle="dropdown" id="{{ .Name | urlize }}-dropdown" role="button" aria-expanded="false"><p class="text-base font-light opacity-75 hover:opacity-100 px-3 leading-tight">
                    {{ .Pre }}
                    <span>{{ .Name }}</span><i class="text-xs pl-1 fas fa-caret-down"></i>
                    </p>
                    </a>
                    <div aria-labelledby="{{ .Name | urlize }}-dropdown" class="bg-rem-blue -mt-2 ml-5 dropdown-menu rounded" role="menu">
                    {{ range .Children }}
                        <div class="flex flex-wrap select-none p-1">
                            <a href="{{ .URL }}" class="w-full text-xs text-white no-underline menu-item">{{ .Name }}</a>
                        </div>
                    {{ end }}
                </div>
                </div>
                    {{ else }}
                <div class="select-none border-b py-2">
                    <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}} no-underline desktop-menu-item" href="{{.URL}}"><p class="text-base font-light opacity-75 hover:opacity-100 px-3 leading-tight">{{ .Pre }}{{ .Name }}</p></a>
                </div>
                    {{ end }}{{ end }}
            </div>
        </div>
        <div class="w-11/12 lg:w-8/12 mx-auto px-2 lg:px-5 content-box">
            <div class="w-full mx-auto">
                <h1 class="font-Robo font-bold text-4xl"><span class="bg-rem-blue px-3 py-1 text-white">Apps</span></h1>
            </div>
            <div class="bg-gray-200 p-2 lg:h-60vh lg:overflow-y-scroll">
                {{ .Content }}
            </div>
        </div>
        <div class="hidden lg:inline w-2/12 lg:pr-8 text-sm font-Robo">
            {{ .TableOfContents }}
        </div>
    </div>
</div>
{{ end }}