<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container-fluid">
            <div class="row flex-xl-nowrap">
                {{- partial "sidebar.html" . -}}
                <content class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                {{- block "main" . }}{{- end }}
                </content>
                {{- partial "toc.html" . -}}
            </div>
        </div>
        
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
    </body>
</html>
